.fondo{
    background-color: #DFFFDF;
    height: 100px;
    border-bottom-right-radius: 100px;
}

ion-toolbar{
    height: 100px;
}

ion-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: -6%;
    margin-top: 30px;
    position: relative;
}

.centradoguardar{
    width: 150px; 
    margin-left: 50%;
    transform: translateX(-50%);
}

ion-item{
    margin: 2%;
}