<div class="fondo">
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-button (click)= "onClick()">
        <ion-icon slot="start" name="menu-outline" style="font-size: 26px"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>

</div>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input placeholder="Cambia tu nombre"></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input placeholder="Cambia tu apellido"></ion-input>
  </ion-item>

  <ion-item >
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" ngModel email placeholder="Cambia tu email"></ion-input>
    <ion-note slot="error">Email incorrecto</ion-note>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Telefono</ion-label>
    <ion-input type="number" placeholder="Cambia tu telefono"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Fecha de nacimiento</ion-label>
    <ion-input type="date" id="cumpleanos" placeholder="Cambia tu fecha de nacimiento"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input placeholder="Cambia tu usuario"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input placeholder="Cambia tu contraseña" type="password"></ion-input>
  </ion-item>
  <ion-button size="large" class="centradoguardar">
    Guardar
  </ion-button>
</ion-content>
