<div class="fondo">
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-button (click)= "onClick()">
        <ion-icon slot="start" name="menu-outline" style="font-size: 26px"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title [size]="large">Preguntas frecuentes</ion-title>
  </ion-toolbar>
</div>

<ion-content>

  <div class="accordation">
    <ion-item button detail lines="full" class="accordation-toggle">¿Puedo cancelar el servicio?</ion-item>
    <div class="accordation-content">
      <div class="accordation-inner">
        <p>Los servicios se pueden cancelar hasta un día antes de la fecha acordada. En caso que de cancelar el mismo día se cobrará una multa; el importe de la misma es el 20% de lo que cuesta el servicio.</p>
      </div>
    </div>
  </div>

  <div class="accordation">
    <ion-item button detail lines="full" class="accordation-toggle"> ¿Cómo puedo saber la tarifa?</ion-item>
    <div class="accordation-content">
      <div class="accordation-inner">
        <p>Al momento de reservas recibiras la tarifa correspondiente al servicio.  Cualquier gasto extra se debe avisará antes de realizar el trabajo.</p>
      </div>
    </div>
  </div>

  <div class="accordation">
    <ion-item button detail lines="full" class="accordation-toggle">¿Cómo realizar reclamos?</ion-item>
    <div class="accordation-content">
      <div class="accordation-inner">
        <p>Tenemos un linea diponible de 9:00hs a 19:00hs, de lunes a sabados, donde podremos ayudarte. Tambien contamos con un mail de reclamos safeservice@mail.com</p>
      </div>
    </div>
  </div>

  <div class="accordation">
    <ion-item button detail lines="full" class="accordation-toggle">Tuve problemas con mi pago</ion-item>
    <div class="accordation-content">
      <div class="accordation-inner">
        <p>En caso de haber tenido problemas con tu pago comunicate al TEL:3464560100</p>
      </div>
    </div>
  </div>

  <div class="accordation">
    <ion-item button detail lines="full" class="accordation-toggle">Trabaja con nosotros</ion-item>
    <div class="accordation-content">
      <div class="accordation-inner">
        <p>Si estas interesado en trabajar en SafeService pedi el formulario de "Información del trabajador" safeservicetrabajador@mail.com y te contactaremos a la brevedad</p>
      </div>
    </div>
  </div>

  <div class="accordation">
    <ion-item button detail lines="full" class="accordation-toggle">Tuve problemas con la persona que me realizo el servicio</ion-item>
    <div class="accordation-content">
      <div class="accordation-inner">
        <p>Manda tu reclamo a safeservice@mail.com detallando la situacion o llama al TEL:0800 426817 </p>
      </div>
    </div>
  </div>

  <div class="accordation">
    <ion-item button detail lines="full" class="accordation-toggle">La persona a realizar el servicio nunca llegó</ion-item>
    <div class="accordation-content">
      <div class="accordation-inner">
        <p>Manda tu reclamo a safeservice@mail.com detallando la situacion o llama al TEL:0800 426817 </p>
      </div>
    </div>
  </div>

  <div class="accordation">
    <ion-item button detail lines="full" class="accordation-toggle">Quien realizo el servicio olvido una pertenencia en mi domicilio</ion-item>
    <div class="accordation-content">
      <div class="accordation-inner">
        <p>Manda tu reclamo a safeservice@mail.com detallando la situacion o llama al TEL:0800 426817 </p>
      </div>
    </div>
  </div>


</ion-content>